<% include partials/header.ejs %>
<main>
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">About me</h1>

        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="card text-center">

                <div class="card-body">
                    <h5 class="card-title">Name: Zhipeng Sun </h5>
                    <img src="/images/avatar.jpeg" style="height: 18em">
                    <p class="card-text">Hello, this is Zhipeng Sun. I have lived in Boston for 6 years. I was study at UML for undergraduate degrees. Right now, I’m study at Boston University for graduate degrees. You are welcome to discuss relevant content or any other content with me. I am happy to chat with you.</p>
                    <a href="/assets/resume.pdf" target="_blank" class="btn btn-primary">Check my resume</a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</main>
<% include partials/footer.ejs %>